<nav class="nav">
	<a href="/" class="site-logo" title="Home">
		{% svg 'this-animus.svg' %}
	</a>
	<div class="nav-list">
		<a href="/labs">Labs</a>
		<span class="divider"> \\ </span>
		<a href="/sketchbook">Sketchbook</a>
		<span class="divider"> \\ </span>
		<a href="/work">Work</a>
		<span class="divider"> \\ </span>
		<a href="/about">About</a>
	</div>
</nav>