.layout {
	display: grid;
	grid-template-columns: var(--space-sm) 1fr var(--space-sm);
	grid-auto-rows: min-content;
	//row-gap: var(--space-md);

	> * {
		min-width: 0%;
		grid-column: 2 / 3;
		&.alignwide {
			grid-column: 2 / 3;
		}
		&.alignfull {
			grid-column: 1 / 4;
		}
	}
	@include sm-and-up {
		grid-template-columns: 4vw 1fr minmax(20px, var(--breakpoint-md)) 1fr calc(
				4vw + 4rem
			);
		> * {
			grid-column: 3;
			&.alignwide {
				grid-column: 2 / 5;
			}
			&.alignfull {
				grid-column: 1 / 6;
			}
		}
	}
}

.aligncenter {
	width: 100%;
	max-width: var(--breakpoint-md);
	margin: 0 auto;
}
/*
.alignwide {
	width: 100%;
	margin: 0 auto;
	@include md-and-up {
		max-width: clac(var(--breakpoint-lg) - 4rem);
	}
}
*/
.alignfull {
	max-width: none;
	width: 100%;
	margin: 0 auto;
}
